pkgbase = xwingridselect
	pkgdesc = X11 window switcher with fancy look
	pkgver = 2021.04.06
	pkgrel = 1
	url = https://github.com/HeCodes2Much/xwingridselect
	arch = any
	license = CC BY-NC-SA 4.0
	makedepends = cmake
	makedepends = make
	depends = gtk2
	depends = gtk-engines
	depends = gtk-engine-murrine
	options = !libtool
	options = strip
	source = xwingridselect-2021.04.06.tar.gz::https://github.com/HeCodes2Much/xwingridselect/archive/2021.04.06.tar.gz
	sha256sums = SKIP

pkgname = xwingridselect

