pkgbase = dk-cheat
	pkgdesc = cheat sheet for dkwm
	pkgver = 2023.04.24
	pkgrel = 1
	url = https://github.com/The-Repo-Club/wm-cheat
	arch = any
	groups = linuxrepos
	license = GPL3
	depends = gtk3
	depends = dk
	conflicts = i3-cheat
	conflicts = bspwm-cheat
	source = wm-cheat-2023.04.24.tar.gz::https://github.com/The-Repo-Club/wm-cheat/archive/2023.04.24.tar.gz
	sha256sums = 33e2e41f74ac55f07597290189c8668d24f00995afa056ba0de338bebdf7842b

pkgname = dk-cheat
