pkgbase = repomenu-schemas
	pkgdesc = schemas for repomenu
	pkgver = 2021.08.21
	pkgrel = 1
	url = https://github.com/The-Repo-Club/repomenu-schemas
	arch = any
	groups = therepoclub
	license = GPL3
	makedepends = gobject-introspection
	makedepends = git
	makedepends = meson
	depends = glib2
	depends = dconf
	provides = repomenu-schemas=2021.08.21
	source = repomenu-schemas-2021.08.21.tar.gz::https://github.com/The-Repo-Club/repomenu-schemas/archive/2021.08.21.tar.gz
	sha256sums = d94d80452a44659db397f80b5a4964a05ee1718981ab7f2e80be782858c959cc

pkgname = repomenu-schemas
