pkgbase = repomenu-snapshots
	pkgdesc = addons for repomenu
	pkgver = 2021.09.19
	pkgrel = 1
	url = https://github.com/The-Repo-Club/repomenu-snapshots
	arch = any
	groups = therepoclub
	license = GPL3
	depends = bash
	depends = repomenu
	depends = repomenu-schemas
	optdepends = cutycapt: Taking screenshots with bm command.
	provides = repomenu-snapshots
	source = repomenu-snapshots-2021.09.19.tar.gz::https://github.com/The-Repo-Club/repomenu-snapshots/archive/2021.09.19.tar.gz
	sha256sums = 07c2eebc6a4216a1e2bc347e42774b2770a4e3bb9f21b08917b4c918dfb2fc19

pkgname = repomenu-snapshots
