pkgbase = repomenu-snapshots
	pkgdesc = addons for repomenu
	pkgver = 2021.09.16
	pkgrel = 1
	url = https://github.com/The-Repo-Club/repomenu-snapshots
	arch = any
	groups = therepoclub
	license = GPL3
	depends = bash
	depends = repomenu
	depends = repomenu-schemas
	optdepends = cutycapt: Taking screenshots with bm command.
	provides = repomenu-snapshots
	source = repomenu-snapshots-2021.09.16.tar.gz::https://github.com/The-Repo-Club/repomenu-snapshots/archive/2021.09.16.tar.gz
	sha256sums = 890ef19bfa9c9642f3d6dc89839db6be0727b84cb15e1b8ca784d5a6a261d7af

pkgname = repomenu-snapshots
