pkgbase = repowm
	pkgdesc = A dynamic window manager for X
	pkgver = 2023.08.06
	pkgrel = 1
	url = https://github.com/The-Repo-Club/repowm
	install = repowm.install
	arch = i686
	arch = x86_64
	groups = linuxrepos
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	optdepends = repo-exec: exec for repowm
	optdepends = rofi: for the menu scripts
	optdepends = siji: font used by default
	optdepends = ttf-hack-nerd: font used by default
	options = zipman
	source = repowm-2023.08.06.tar.gz::https://github.com/The-Repo-Club/repowm/archive/2023.08.06.tar.gz
	sha256sums = 0b46d9d4ee6e758a258b10720a518cbd5acfcb66779122e2b36dcf27499c14f9

pkgname = repowm
