pkgbase = repowm
	pkgdesc = A dynamic window manager for X
	pkgver = 2023.08.06
	pkgrel = 1
	url = https://github.com/The-Repo-Club/repowm
	install = repowm.install
	arch = i686
	arch = x86_64
	groups = linuxrepos
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	optdepends = repo-exec: exec for repowm
	optdepends = rofi: for the menu scripts
	optdepends = siji: font used by default
	optdepends = nerd-fonts-fira-code: font used by default
	optdepends = adobe-source-code-pro-fonts: font used by default
	optdepends = ttf-material-design-icons: font used by default
	optdepends = ttf-remixicon: font used by default
	options = zipman
	source = repowm-2023.08.06.tar.gz::https://github.com/The-Repo-Club/repowm/archive/2023.08.06.tar.gz
	sha256sums = a09e8b1bbb9b0cbdcb9aaa231184796e8368d1fb426b569d7041fe21e244e6e5

pkgname = repowm
