pkgbase = themix-dracula
	pkgver = 2021.10.10
	pkgrel = 1
	url = https://github.com/The-Repo-Club/themix-Dracula
	arch = any
	license = GPL
	source = themix-Dracula-2021.10.10.tar.gz::https://github.com/The-Repo-Club/themix-Dracula/archive/2021.10.10.tar.gz
	sha256sums = SKIP

pkgname = dracula-gtk-theme
	pkgdesc = This theme provides support for GTK-3 and GTK-2 based desktop environments like Gnome, Unity, Budgie, Pantheon, XFCE, Mate, etc. Also provides support for KDE plasma.

pkgname = dracula-qt5-theme
	pkgdesc = This theme provides support for QT5.

pkgname = dracula-qt6-theme
	pkgdesc = This theme provides support for QT6.

pkgname = dracula-icons
	pkgdesc = This provides support dracula for icons.
