pkgbase = multimonitorlock-gui
	pkgdesc = GUI for multimonitorlock to set the background using GTK3
	pkgver = 2021.08.20
	pkgrel = 1
	url = https://github.com/HeCodes2Much/multimonitorlock-gui
	arch = any
	groups = therepoclub
	license = GPL3
	depends = gtk3
	depends = multimonitorlock
	depends = python
	source = multimonitorlock-gui-2021.08.20.tar.gz::https://github.com/HeCodes2Much/multimonitorlock-gui/archive/2021.08.20.tar.gz
	sha256sums = a4d31ab4db8cd9be9e4ec31d9b92165bca210b41305be5ea0fd86fb00d8e1928

pkgname = multimonitorlock-gui
