pkgbase = flexiflow
	pkgdesc = A dynamic window manager for X
	pkgver = 2023.08.21
	pkgrel = 1
	url = https://github.com/The-Repo-Club/flexiflow
	install = flexiflow.install
	arch = i686
	arch = x86_64
	groups = linuxrepos
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	optdepends = rofi: for the menu scripts
	optdepends = ttf-hack-nerd: font used by default
	options = zipman
	source = flexiflow-2023.08.21.tar.gz::https://github.com/The-Repo-Club/flexiflow/archive/2023.08.21.tar.gz
	sha256sums = SKIP

pkgname = flexiflow
