pkgbase = repowm-schemas
	pkgdesc = schemas for instawm
	pkgver = 2021.08.21
	pkgrel = 1
	url = https://github.com/The-Repo-Club/repowm-schemas
	arch = any
	groups = therepoclub
	license = GPL3
	makedepends = gobject-introspection
	makedepends = git
	makedepends = meson
	depends = glib2
	depends = dconf
	provides = repowm-schemas=2021.08.21
	source = repowm-schemas-2021.08.21.tar.gz::https://github.com/The-Repo-Club/repowm-schemas/archive/2021.08.21.tar.gz
	sha256sums = 9e0072255c06e9db089fc9de8741aac08f4014636ea7bf202ac0b914b23972ec

pkgname = repowm-schemas
